# opensrc - source code for packages
opensrc/
/bin/krot
/in.txt
/out.txt
/krot.json
/android-ndk-r27
/bin
/all_proxies.txt
/vless_universal.txt
/security-reports
/mtproto.txt
/vless.txt
/xray-checker
/bak
/mtproto.bak.txt
/vless.bak.txt
